<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="otp-box">
    <div class="img">
        <img src="https://i.lt/7yCfUm" width="100px" alt="OTP image"/>
    </div>

    <div class="content-box">
        <h2>Verification code</h2>
        <p>We have sent a verification code to your registered mobile number.</p>
    </div>

    <div class="inputs">
        <input type="text" maxlength="1"/>
        <input type="text" maxlength="1"/>
        <input type="text" maxlength="1"/>
        <input type="text" maxlength="1"/>
        <input type="text" maxlength="1"/>
        <input type="text" maxlength="1"/>
    </div>

    <div class="verify-btn">
        <button>Verify</button>
    </div>
</div>

</body>
</html>