<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add new student</title>
</head>
<body>
<form th:action="@{//add-new}" th:method="post" th:object="${student}">
  <input type="text" th:field="*{name}" placeholder="Name" required>
  <input type="date" th:field="*{birthday}" placeholder="Birth Day" required>
  <select th:field="*{major}">
    <option th:each="item : ${majors}"
            th:value="${item.id}"
            th:text="${item.getCode() + '-' + item.getName()}">
      >
    </option>
  </select>
  <button type="submit">Add student</button>
</form>
</body>
</html>