### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
.

### VS Code ###
.vscode/

### Build and dependency files ###
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

#### Ignore macOS system files ###
.DS_Store
/src/main/resources/static/uploads/

### Environment files ###
.env


