<div th:fragment="admin_nav">
<!-- =============== Navigation ================ -->
    <div class="navigation">
        <ul>
            <li>
                <a th:href="@{/home}">
                        <span class="icon">
                            <ion-icon name="logo-apple"></ion-icon>
                        </span>
                    <span class="title">PC Shop</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/dashboard}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/user}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                    <span class="title">User</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/product}">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                    <span class="title">Inventory</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/orders}">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                    <span class="title">Order</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/discount}">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                    <span class="title">Discount</span>
                </a>
            </li>

            <li>
                <a th:href="@{/seller/orders}">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                    <span class="title">Order for Seller</span>
                </a>
            </li>

            <li>
                <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
                </form>
                <a th:href="@{/home}" >
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                    <span class="title">Home</span>
                </a>
            </li>
        </ul>
    </div>
</div>