<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" th:href="@{../../admin_assets/css/style.css}">
</head>
<body>
<div th:replace="fragments/admin_nav :: admin_nav"></div>
<div class="main">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 col-12 mx-auto">
                <h3>Add a Product</h3>
                <hr />
                <form th:action="@{/admin/product/create}" th:object="${newProduct}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">Product Name:</label>
                        <input type="text" class="form-control" th:field="*{name}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price:</label>
                        <input type="text" class="form-control" th:field="*{price}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description:</label>
                        <input type="text" class="form-control" th:field="*{description}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category:</label>
                        <select class="form-control" th:field="*{category.id}" required>
                            <option value="">Select a category</option>
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Upload Product Image:</label>
                        <input type="file" class="form-control" name="imageFiles" accept="image/*" multiple required />
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a th:href="@{/admin/product}" class="btn btn-secondary">Back to Products</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{../../admin_assets/js/main.js}"></script>
</body>
</html>
